* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
body {
  width: 100vw;
  background: url(./Images/topLeft.svg), url(./Images/topRight.svg);
  background-blend-mode: hard-light, lighten;
  background-position: top left, top right;
  background-repeat: no-repeat, no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
}

@font-face {
  font-family: "Cera Pro";
  src: url(./fonts/Cera-Pro-Medium.otf);
}
@font-face {
  font-family: "Axiforma";
  src: url(./fonts/Axiforma-Regular.otf);
}
/* === HEADER > NAVBAR === */
header {
  display: flex;
  flex-flow: row wrap;
  margin: 1.875rem 0rem 8rem 0rem;
}

header h1 {
  flex: 1 0;
  order: 1;
  text-align: center;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #000000;
}
header .leftMenu {
  flex: 1 0;
  order: 0;
}
header .rightMenu {
  flex: 1 0;
  order: 2;
}
header ul {
  text-align: center;
}
header ul li {
  display: inline-block;
}
header ul li a {
  text-decoration: none;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 2.813rem;
  text-transform: uppercase;
  color: #686c75;
  padding: 0rem 1.25rem;
}
/* === HEADER > HERO === */
#hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* === Left Side === */
.heroLeft {
  flex: 1 0;
  position: relative;
  left: 0;
  top: 0;
}
.heroLeft .wave {
  width: 78.36px;
  height: 15.67px;
  position: absolute;
  left: 144px;
  top: 172px;
}
.heroLeft h1 {
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 700;
  font-size: 3.625rem;
  line-height: 4.25rem;
  color: #000000;
  width: 474.31px;
  position: absolute;
  left: 142px;
  top: 200px;
}
.transparent {
  display: flex;
  flex-flow: row nowrap;
  width: 59.5vw;
  height: 6.2rem;
  background: rgba(243, 243, 243, 0.6);
  backdrop-filter: blur(2.22rem);
  position: absolute;
  left: 141px;
  top: 741px;
  justify-content: space-evenly;
}
.transparent .left {
  flex: 1 0;
  position: absolute;
  left: 2.8125rem;
  top: 2.25rem;
}
.transparent .location {
  position: absolute;
  left: 23.8125rem;
  top: 2.35rem;
}
.transparent .left img {
  width: 1rem;
}
.transparent p {
  flex: 1 0;
  font-family: "Cera Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 1.17rem;
  line-height: 1.5rem;
  color: #989898;
  display: inline-block;
}

.transparent .button {
  flex: 1 0;
  position: absolute;
  right: 1.8125rem;
  top: 1.5rem;
}

.transparent .btn {
  background-color: #fd5b2f;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  letter-spacing: 0.02rem;
  text-align: center;
  color: #ffffff;
  width: 10.5rem;
  height: 3.25rem;
  border-radius: 0.375rem;
  border: 1px solid gray;
}
#hero .visitor {
  position: relative;
  left: 146px;
  top: 670px;
}
#hero .visitor .Image {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  border: 2.08948px solid #ffffff;
  box-sizing: border-box;
}
#hero .visitor .cyan-bg {
  position: absolute;
  left: 144px;
  top: 0;
  width: 37px;
  height: 37px;
  display: inline-block;
  border-radius: 50%;
  background-color: #13ded2;
  border: 2.08948px solid #ffffff;
  box-sizing: border-box;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  line-height: 34px;
  font-size: 10.4474px;
  color: #ffffff;
  text-align: center;
}
#hero .visitor p {
  position: absolute;
  left: 200px;
  top: 0px;
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  font-size: 12.5369px;
  line-height: 38px;
  color: #000000;
}
.visitor .visitor1 {
  position: absolute;
  left: 0px;
  top: 0px;
}
.visitor .visitor2 {
  position: absolute;
  left: 24px;
  top: 0px;
}
.visitor .visitor3 {
  position: absolute;
  left: 48px;
  top: 0px;
}
.visitor .visitor4 {
  position: absolute;
  left: 72px;
  top: 0px;
}
.visitor .visitor5 {
  position: absolute;
  left: 96px;
  top: 0px;
}
.visitor .visitor6 {
  position: absolute;
  left: 120px;
  top: 0px;
}

/* === Right Side === */
.heroRight {
  flex: 1 0;
  position: relative;
}
.heroRight .heroImage {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
}
.heroRight p {
  position: absolute;
  width: 474.31px;
  height: 67.91px;
  right: 8px;
  top: 443px;
  font-family: "Axiforma";
  font-style: normal;
  font-weight: 700;
  font-size: 51.1924px;
  line-height: 68px;
  color: #000000;
  opacity: 0.1;
  transform: rotate(-90deg);
}
.heroRight .big {
  position: absolute;
  right: 95px;
  top: -55px;
}
.heroRight .medium {
  position: absolute;
  right: 51px;
  top: 240px;
}
.heroRight .small {
  position: absolute;
  right: -35px;
  top: 120px;
}

/* === Logos === */
.logos {
  text-align: center;
  margin: 5rem 0;
}
.logos img {
  width: 4.444rem;
  margin: 0rem 2.91rem;
}
